<ul class="nav nav-list well">
    <li class="nav-header">
      ランキング
    </li>
      <li>
          <%= link_to "1", contents_watch1_path  %>
      </li>
      <li>
          <%= link_to "1", contents_watch1_path  %>
      </li>
      <li>
          <%= link_to "1", contents_watch1_path  %>
      </li>
      <li>
          <%= link_to "1", contents_watch1_path  %>
      </li>
      <li>
          <%= link_to "1", contents_watch1_path  %>
      </li>
    <li class="nav-header">
      カテゴリー
    </li>
      <li>
          <%= link_to "2", contents_watch2_path  %>
      </li>
      <li>
          <%= link_to "2", contents_watch2_path  %>
      </li>
      <li>
          <%= link_to "2", contents_watch2_path  %>
      </li>
      <li>
          <%= link_to "2", contents_watch2_path  %>
      </li>
    <li class="nav-header">
      登録ブログ一覧
    </li>
      <li>
          <%= link_to "暇つぶしニュース", "http://blog.livedoor.jp/rbkyn844" %>
      </li>
      <li>
          <%= link_to "#ねたAtoZ", "http://netaatoz.jp"  %>
      </li>
      <li>
          <%= link_to "しぃアンテナ(*ﾟーﾟ)", "http://2ch-c.net"  %>
      </li>
      <li>
          <%= link_to "コピペ情報局", "http://news.2chblog.jp"  %>
      </li>
      <li>
          <%= link_to "ガジェットライフ速報", "http://gadgetlife2ch.blomaga.jp" %>
      </li>
      <li>
          <%= link_to "watch@2ちゃんねる", "http://www.watch2chan.com"  %>
      </li>
      <li>
          <%= link_to "ガハろぐNewsヽ(･ω･)/ｽﾞｺｰ", "http://gahalog.2chblog.jp"  %>
      </li>
      <li>
          <%= link_to "U-1速報", "http://u1sokuhou.ldblog.jp"  %>
      </li>
      <li>
          <%= link_to "ぴろり速報２ちゃんねる", "http://pirori2ch.com"  %>
      </li>
      <li>
          <%= link_to "ロン速", "http://ronsoku.com"  %>
      </li>
      <li>
          <%= link_to "まとめたニュース", "http://ronsoku.com"  %>
      </li>
      <li>
          <%= link_to "ロン速", "http://matometanews.com"  %>
      </li>
      <li>
          <%= link_to "まとめたニュース", "http://sierblog.com" %>
      </li>
      <li>
          <%= link_to "SIerブログ", "http://ronsoku.com"  %>
      </li>
      <li>
          <%= link_to "あじあニュースまとめちゃんねる－韓国中国アジアニュース－", "http://asianews2ch.jp" %>
      </li>
      <li>
          <%= link_to "2ろぐちゃんねる -2chまとめブログ", "http://2logch.com"  %>
      </li>
      <li>
          <%= link_to "ニュー速クオリティ", "http://news4vip.livedoor.biz"  %>
      </li>
      <li>
          <%= link_to "PCパーツまとめ", "http://blog.livedoor.jp/bluejay01-review"  %>
      </li>
      <li>
          <%= link_to "FX2ちゃんねる", "http://www.fx2ch.net"  %>
      </li>
      <li>
          <%= link_to "稼げるまとめ速報", "http://kasegeru.blog.jp"  %>
      </li>
      <li>
          <%= link_to "必殺自作人", "http://jisakunin.com"  %>
      </li>
</ul>
